<h1><%= @sound.title %></h1>

<object height="81" width="100%" id="yourPlayerId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
<param name="movie" value="http://player.soundcloud.com/player.swf?url=<%=@sound.soundcloud_url%>&amp;enable_api=true&amp;object_id=yourPlayerId"></param>
<param name="allowscriptaccess" value="always"></param>
<embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=<%=@sound.soundcloud_url%>&amp;enable_api=true&amp;object_id=yourPlayerId" type="application/x-shockwave-flash" width="100%" name="yourPlayerId"></embed>
</object>

<h2>Comments</h2>
<% @comments.each do |comment| %>
	<p><%= comment.content %></p>
	<%= button_to "Remove Comment", "/sounds/#{@sound.id}/comments/#{comment.id}", method: :delete %>
<% end %>

<h3>Add a comment</h3>
<%= form_tag("/sounds/#{@sound.id}/comments", method: "post") do %>
  <%= label_tag('comment[content]', "Content:") %>
  <%= text_field_tag('comment[content]') %><br>
  <%= submit_tag("submit") %>
<% end %>