<!DOCTYPE html>
<html>
<head>
  <title>Metube</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" %>
  <%= javascript_include_tag "soundcloud.player.api.js" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">
	     soundcloud.addEventListener('onPlayerReady', function(player, data) {
	       player.api_play();
	     });
	</script>
</head>
<body>

<%= yield %>

</body>
</html>
